<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a>
      <a class="nav-item nav-link" routerLink="/feedbacks" routerLinkActive="active">Feedbacks</a>
      <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      <a class="nav-item nav-link" routerLink="/register" routerLinkActive="active">Register</a>
    </div>
  </div>
</nav>
